.projects-container {
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
  }
  
  .title {
    font-size: 3rem;
    color: #b95650;
    font-weight: 800;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .carousel {
    width: 800px;
    height: 533px;
    perspective: 2000px;
    padding-top: 1rem;
  }
  
  .carousel__track {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
  }
  
  .carousel__item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 333px;
    transform-style: preserve-3d;
  }
  
  .carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
    transform-origin: center center;
  }
  
  .carousel__item img:hover {
    transform: scale(1.08);
  }
  